/* marisela-colors.css */
:root {
  --color-fondo: #FDF9F2;
  --color-principal: #7C2B2B;
  --color-secundario: #892C2C;
  --color-texto: #5C3A2E;
  --color-piel: #D8B28C;
  --fuente-principal: 'Lora', serif;
  --fuente-secundaria: 'Inter', sans-serif;
}
